h2 {
  text-align: center;
}
.form {
  max-width: 700px;
  border: 1px solid rgb(224, 224, 224);
  margin: 0 auto;
  padding: 40px 100px;
  box-shadow: 0px 0px 10px 0px rgb(175, 175, 175);
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .form__item_ExpDate {
    display: flex;
    align-items: center;
    justify-self: space-between;
  }
  label {
    color: grey;
  }
  input {
    width: 50%;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
    border-radius: 3px;
  }
  span {
    margin: 0 10px;
    color: rgb(155, 155, 155);
  }
  .cvv__input {
    width: 50px;
  }
  .date__input {
    width: 40px;
  }
  .yare {
    width: 60px;
  }
}

.form__btn {
  outline: none;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  letter-spacing: 1px;
  &:hover,
  &:focus {
    transition: All 0.3s;
    background-color: white;
  }
}

._error {
  position: absolute;
  color: red;
  font-size: 12px;
  bottom: -15px;
  right: 0;
}
